.reserve {
    width: 100vw;
    height:100vh;
    top:0;
 left:0;
    background-color: rgba(0, 0, 0, 0.279);
    display: flex;
    justify-content: center;
  align-items: center;
    position: fixed;
}
.rcontainer {
    position: relative;
    background-color: white;
    padding: 20px;
    max-height: 100%;
    overflow-y: auto;
}
.close {
    position: absolute;
    top:5px;
    right:0;
}
.rItem {
    display: flex;
    justify-content: space-between;
    gap:50px;
}
.rInfo {
 
 padding: 10px;
}
.rRoom {
    display: flex;
    flex-direction: column;
}
.roomSelector {
    display: flex;
    font-size: 8px;
    flex-wrap: wrap;
    gap:5px;
}
.rButton {
    background-color: blue;
    color: white;
    width: 100%;
   border-radius: 5px;
  
    padding: 5px;
  text-align: center;
    border: none;
    cursor: pointer;
    
}